body {
  padding-bottom: 75px;
  padding-top: 75px;
}

#header_img {
  margin-bottom: 1em;
  min-height: 1em;
  max-width: 100%;
}

$theme-colors: (
  "primary": #F79239,
  "secondary": #F79239,
  "danger": #ff4136
);
