body {
  padding-bottom: 75px;
  padding-top: 75px;
}

#header_img {
  margin-bottom: 1em;
  min-height: 1em;
  max-width: 100%;
}

.my-btn {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(red, white, blue);
}
