$theme-colors: (
  "primary": #F79239,
  "secondary": #F79239,
  "danger": #ff4136
);

@import "bootstrap/bootstrap";

body {
  padding-bottom: 25px;
}

#header_img {
  margin-bottom: 1em;
  min-height: 1em;
  max-width: 100%;
}

img {
	margin-bottom: 15px;
}

div .btn {
	background-color: #F79239;
	margin-bottom: 5px;
}
